In [1]:
# Import the dependencies. 
import pandas as pd
import gmaps
import requests

# Import the API key.
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-10-30 01:52:54,-54.8000,-68.3000,42.46,56,20,24.16
1,1,Conceicao Do Araguaia,BR,2021-10-30 01:52:55,-8.2578,-49.2647,82.40,53,92,4.16
2,2,Butaritari,KI,2021-10-30 01:52:55,3.0707,172.7902,83.28,68,4,16.20
3,3,Cape Town,ZA,2021-10-30 01:48:16,-33.9258,18.4232,63.09,82,75,3.00
4,4,Gonen,TR,2021-10-30 01:52:56,40.1049,27.6540,59.02,49,62,9.51

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=250, point_radius=4.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=250, point_radius=4.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=250, point_radius=4.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=250, point_radius=4.5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria. 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Conceicao Do Araguaia,BR,2021-10-30 01:52:55,-8.2578,-49.2647,82.40,53,92,4.16
2,2,Butaritari,KI,2021-10-30 01:52:55,3.0707,172.7902,83.28,68,4,16.20
5,5,Harper,LR,2021-10-30 01:52:57,4.3750,-7.7169,77.16,85,100,5.64
9,9,Salalah,OM,2021-10-30 01:50:45,17.0151,54.0924,77.25,70,7,3.38
20,20,Avarua,CK,2021-10-30 01:49:40,-21.2078,-159.7750,77.05,65,75,12.66
21,21,Buriti Bravo,BR,2021-10-30 01:53:05,-5.8372,-43.8336,76.59,68,79,2.93
22,22,Rikitea,PF,2021-10-30 01:53:05,-23.1203,-134.9692,75.54,81,100,15.68
28,28,Isangel,VU,2021-10-30 01:53:09,-19.5500,169.2667,82.51,78,75,5.75
29,29,Ngemplak,ID,2021-10-30 01:53:10,-7.5497,110.7164,84.31,68,100,9.66
31,31,Carnarvon,AU,2021-10-30 01:53:11,-24.8667,113.6333,80.67,22,0,17.27

In [12]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1   Conceicao Do Araguaia      BR     82.40  -8.2578  -49.2647
2              Butaritari      KI     83.28   3.0707  172.7902
5                  Harper      LR     77.16   4.3750   -7.7169
9                 Salalah      OM     77.25  17.0151   54.0924
20                 Avarua      CK     77.05 -21.2078 -159.7750
21           Buriti Bravo      BR     76.59  -5.8372  -43.8336
22                Rikitea      PF     75.54 -23.1203 -134.9692
28                Isangel      VU     82.51 -19.5500  169.2667
29               Ngemplak      ID     84.31  -7.5497  110.7164
31              Carnarvon      AU     80.67 -24.8667  113.6333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Conceicao Do Araguaia,BR,82.40,-8.2578,-49.2647,Tarumã Tropical Hotel
2,Butaritari,KI,83.28,3.0707,172.7902,Isles Sunset Lodge
5,Harper,LR,77.16,4.3750,-7.7169,Screensaver
9,Salalah,OM,77.25,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
20,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
21,Buriti Bravo,BR,76.59,-5.8372,-43.8336,Hotel Fazenda
22,Rikitea,PF,75.54,-23.1203,-134.9692,People ThankYou
28,Isangel,VU,82.51,-19.5500,169.2667,Tanna Lodge
29,Ngemplak,ID,84.31,-7.5497,110.7164,Hotel Pramesthi
31,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon

In [17]:
# Add a heatmap of temperature for the vacation spots. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row. 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))